<%= form_with(model: result, local: true) do |form| %>
  <% if result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :result_name %>
  </div>

  <div class="field">
    <%= form.label :retailer %>
    <%= form.text_field :retailer, id: :result_retailer %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, id: :result_price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
